body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Roboto Thin', arial; /*   #ed8671 */
}

.header {
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.container-list {
    margin-left: 50px;
}

.container-search{
    margin-right: 30px;
}
.ul {
    display: flex;
    padding: 0;
}

.list {
    list-style: none;
}

.link {
    padding: 5px 10px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: #FFF;
    transition: width 2s linear 1s;
}

.list:first-child .link{
    color: #ed8671;
}

.link:hover {
    color: #ed8671;
}

.div-input {
    background: #FFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.search {
    border: none;
    padding: 8px 35px 8px 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 0.9rem;
    color: #949393;
    outline: none;
}

.search-icon {
    color: #949393;
    padding-right: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.content-image {
    position: relative;
    text-align: left;
}
.text-image {
    position: absolute;
    top: 20%;
    bottom: 50%;
}

img {
    width: 100%;
}

.texto {
    margin: 0;
    background-color: #FFF;
    margin-bottom: 3px;
    font-size: 3.5rem;
    padding-left: 40px;
    font-weight: bold;
    display: inline-block;
    word-spacing: 8px;
    letter-spacing: 2px;
}

.texto:nth-last-of-type(3){
    padding-right: 40px;
}
.texto:nth-last-of-type(2){
    padding-right: 55px;
}
.texto:nth-last-of-type(1){
    padding-right: 55px;
}
